:root {
    --primary: #556B2F;
    --secondary: #FFFFF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5rem;
}

body {
    margin: 20px;
    background-color: var(--secondary);
}

h1, h2, h3 {
    padding: 10px;
    line-height: 2.5rem;
}

iframe {
    width: 100%;
    height: 25vh;
}

ul {
    list-style: none;
}

.btn {
    border-radius: 5px;
    padding: 8px;
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30%;
    width: 40%;
}

.topDiv,
.botDiv {
    width: 100%;
    text-align: center;
}

.hr1, .hr2 {
   border: 2px solid var(--primary); 
}

.clearBtn {
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    color: var(--secondary);
    margin: 5px;
    width: 40%;
}

/*for md screen*/
@media screen and (min-width: 480px) {
    .shopList {
        width: 50%;
        float: left;
    }

    .prevList {
        width: 50%;
        float: right;
    }
    .hr2 {
        display: none;
    }
    iframe {
        height: 35vh;
    }
}

/*for lg screen*/
@media screen and (min-width: 768px) {
    iframe {
        height: 50vh;
    }
}