:root {
    --primary: #556B2F;
    --secondary: #FFFFF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: var(--secondary);
}

.btn {
    border-radius: 5px;
    padding: 8px;
    background-color: var(--primary);
    color: var(--secondary);
    margin-left: 30%;
    width: 40%;
}

.topDiv {
    width: 100%;
    text-align: center;
}

